@using KadınKuaforu.Areas.Panel.Models
@model EditUserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcılar | Düzenle</h1>
<form method="post" asp-area="Panel" asp-controller="Users" asp-action="Edit">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div>
        <label asp-for="NameSurname"></label>
        <input disabled asp-for="NameSurname" value="@Model.NameSurname" />
        <span asp-validation-for="NameSurname"></span>
    </div>
    <div>
        <label asp-for="Username"></label>
        <input disabled asp-for="Username" value="@Model.Username"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="RoleName"></label>
        <select asp-for="RoleName" asp-items="@Model.Roles"><option>-- Rol Seçiniz --</option></select>
        <span asp-validation-for="RoleName"></span>
    </div>
    <div>
        <label asp-for="About"></label>
        <textarea disabled asp-for="About" rows="5" value="@Model.About"></textarea>
        <span asp-validation-for="About"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Düzenle</button>
    </div>
</form>

